@import 'partials/config';
@import 'partials/button';
@import 'partials/gradient-heart';
@import 'partials/apparition-menu';
@import 'partials/header-footer';
@import 'partials/card-menu';

main .container {
    margin-top: -3.5rem;
    padding-bottom: 5rem;
}

.plats {
    margin-top: 1rem;
}

.desserts {
    margin-top: .8rem;
}

footer {
    margin-top: 0;
    margin-bottom: 0;
}