@import 'partials/config';
@import 'partials/button';
@import 'partials/header-footer';
@import 'partials/gradient-heart';
@import 'partials/card-menu';

.plats {
    margin-top: .5rem;
}

.desserts {
    margin-top: 1rem;
}

footer {
    padding-top: .5rem;
    margin-top: 0;
    margin-bottom: 0;
}