@mixin button-color($color-text, $bg) {
    display: block;
    color: $color-text;
    font-family: $texte;
    background: $bg;
    border: none;
    border-radius: 1.5rem;
    margin: auto;
    box-shadow: 0 .3rem .7rem $color-shadow;
}

@mixin button-color-hover {
     &:hover {
        cursor: pointer;
        box-shadow: 0 .6rem .4rem $color-shadow;
        background: $gradient-light;
        transition: background 3s;
    }
}