/*-------------------MIXIN ossature carte ---------------*/
@mixin plat ($width-check, $fontsize-check) {
    .plat {
        display: flex;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 .3rem .7rem $color-shadow;
        margin: 1rem;
        overflow: hidden;
        .container-info-plat {
            position: relative;
            padding: 1rem;
            width: 100%;
            h3 {
                display: inline-block;
                font-weight: 600;
                width: 92%;
                margin: 0;
            }
            .info {
                display: inline-block;
                width: 92%;
                font-size: .95rem;
            }
            .prix {
                position: absolute;
                display: inline-block;
                font-weight: bold;
                font-size: .95rem;
                bottom: 1rem;
                right: .5rem;
            }
        }
        .container-check {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: -.5%;
            background-color: $tertiary;
            border-radius: 0 15px 15px 0;
            transform: translateX(100%);
            .fa-check-circle {
                width: 0;
                color: $color-bg;
                font-size: $fontsize-check;
                transition: transform 400ms, color 400ms;
            }
        }
        &:hover {
            .container-info-plat {
                width: 85%;
                max-height: 4.5rem;
                h3, .info {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .prix {
                    bottom: 1.2rem;
                }
            }
            .container-check {
                transform: translateX(0);
                transition: transform 600ms;
                width: $width-check;
                .fa-check-circle {
                    color:#fff;
                    font-size: $fontsize-check;
                    transform: rotate(-720deg);
                }
            }
        }
    }
}

/*-------------------- VERSION MOBILE-------------------*/
main {
    img {
        width: 100%;
    }
    @include apparition-menu;
    .container{
        position: relative;
        background-color: $color-bg;
        border-radius: 40px 40px 0 0;
        margin-top: -4.5rem;
        padding-bottom: 4rem;
        @include gradient-heart;
        .container-heart {
            top: 2rem;
            right: 2rem;
            .fa-empty, .fa-gradient {
                font-size: 1.6rem;
            }
        }
        h1 {
            padding-left: 1rem;
            padding-top: 1.5rem;
            font: {
                family: 'Shrikhand', cursive; 
                weight: 500;
                size: 1.7rem;
            }
        }
        .container-titre {
            display: inline-block;
            width: 38px;
            overflow: visible;
            border-bottom: 3px solid $tertiary;
            margin-left: 1rem;
            margin-bottom: 1rem;
            h2 {
                margin-bottom: 0.3rem;
                font: {
                    weight: 200;
                    size: 1rem;
                }
            }
        } 
        @include plat(18%, 1.2rem);
        .btn {
            padding: 1rem 3rem;
            @include button-color(#fff, $gradient);
            @include button-color-hover;
            font-size: 1rem;
            margin-top: 3rem;
        }
    }
}

/*-------------------- VERSION TABLET-------------------*/

@media all and (min-width: 768px) {
    main .container {
        @include plat(12%, 1.4rem);
        h1 {
            margin-left: 4rem;
        }
        .plat {
            width: 80%;
            margin-left: 4rem;
        }
        .container-titre{
            margin-left: 4rem;
        }
    }
}

/*-------------------- VERSION DESKTOP-------------------*/

@media all and (min-width: 1024px) {
    main .container {
        display: flex;
        flex-wrap: wrap;
        h1 {
            width: 100%;
            margin-left: 2rem;
        }
        @include plat(22%, 1.5rem);
        .entrees, .plats, .desserts {
            display: inline-flex;
            flex-direction: column;
            justify-content: space-between;
            width: 32%;
            margin: 0 .2rem 2rem .4rem;

        }
        .container-titre {
            margin-left: 2rem;
            padding-bottom: 0;
            h2 {
                font-size: 1.3rem;
            }
        }
        .plat {
            width: 95%;
            margin-left: .5rem;
            margin-bottom: 2rem;
            .container-info-plat {
                h3 {
                    font-size: 1.1rem
                }
                .info {
                    font-size: .8rem;
                    padding-bottom: .3rem;
                }
                .prix {
                right: 1rem;
                }
            }
        }
        .btn {
            margin-top: 1rem;
        }
    }
}