//header

header {
    .fa-arrow-left {
        font-size: 1.3rem;
        margin: 1.5rem 3.5rem 1rem 1rem;
    }
    img {
    display: inline-block;
    width: 44%;
        margin-bottom: -.4rem;
    }
}

//footer

footer {
    background-color: $footer;
    color: #fff;
    padding-bottom: .5rem;
    margin-top: 4rem;
    margin-bottom: 0;
    h2 {
        font: {
            family: $titre;
            size: 1rem;
            weight: 500;
        }
        padding-left: 1rem;
    }
    ul {
        padding-left: 1rem;
        li {
            list-style: none;
            padding-bottom: .5rem;
            a {
                color: #fff;
                text-decoration: none;
            }
            .fas {
                font-size: .8rem;
                padding-right: .5rem;
            }
        }
    }
}

@media all and (min-width: 768px) {
    footer {
        text-align: center;
        h2 {
            font-size: 1.25rem;
        }
    }
}