//header

header {
    .fa-arrow-left {
        font-size: 1.3rem;
        margin: 1.5rem 3.5rem 1rem 1rem;
    }
    img {
    display: inline-block;
    width: 44%;
    margin-bottom: -.4rem;
    }
}

//footer

footer {
    background-color: $footer;
    color: #fff;
    padding-bottom: .5rem;
    margin-top: 4rem;
    margin-bottom: 0;
    h2 {
        font: {
            family: $titre;
            size: 1rem;
            weight: 500;
        }
        padding-left: 1rem;
    }
    ul {
        padding-left: 1rem;
        li {
            list-style: none;
            padding-bottom: .5rem;
            a {
                color: #fff;
                text-decoration: none;
            }
            .fas {
                font-size: .8rem;
                padding-right: .5rem;
            }
        }
    }
}

@media all and (min-width: 768px) {
    
    header {
        .fa-arrow-left {
            font-size: 2rem;
            margin-left: 4rem;
            margin-right: 7rem;
        }
        img {
            padding-top: 1rem;
            width: 35%;
        }
    }
    footer {
        text-align: center;
        h2 {
            padding-top: 1rem;
            font-size: 1.25rem;
        }
    }
}

@media all and (min-width: 1024px) {
    header {
        .fa-arrow-left {
            font-size: 2rem;
            margin-left: 10rem;
            margin-right: 10rem;
        }
        img {
            width: 30%;
        }
    }
    footer {
        h2 {
            font-size: 1.4rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding-top: 0;
        }
        ul {
        display: flex;
        flex-direction: row;
            justify-content: space-evenly;
            li {
                display: inline-block;
                width: 20%;
            }
        }
    }
}