/*----------------VERSION MOBILE --------------*/

.menus {
    background-color: $color-bg;
    width: 100%;
    margin-top: 4rem;
    padding-bottom: 3rem;
    h2 {
        margin: 2rem .5rem 1.5rem 1rem;
        padding-top: 3.3rem;
    }
    .palette-gout, .note-enchantee {
        .nouveau {
            position: absolute;
            background-color: $tertiary;
            color: $tertiary-dark;
            font: {
                size: .8rem;
                weight: 500;
            }
            right: 1rem;
            top: 1rem;
            padding: .5rem;
        }
    }
    article {
        position: relative;
        background-color: #fff;
        border-radius: 1rem;
        width: 95%;
        padding-bottom: 1rem;
        margin-left: 1rem;
        margin-bottom: 1rem;
        box-shadow: 0 .3rem .5rem $color-shadow;
        a {
            position: absolute;
            width: 100%;
            height: 100%;
        }
        img {
            width: 100%;
            border-radius: 1rem 1rem 0 0;
        }
        h3 {
            width: 75%;
            margin: .5rem 0 .4rem 1rem;
        }
        .localite {
            font-weight:100;
            font-size: 1rem;
            padding-left: 1rem;            
        }
        @include gradient-heart;
       
    }
}

/*----------------VERSION TABLET --------------*/

@media all and (min-width: 768px) {
    
    body {
        font-size: 1.25rem;
    }
    .menus  {
        h2 {
            text-align: center;
            font-size: 1.6rem;
        }
        .palette-gout, .note-enchantee {
        .nouveau {
            font-size: 1rem;
            }
        }
        article {
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            img {
                width: 100%;
            }
            h3 {
                font-size: 1.4rem;
            }
        }
    }
}

/*----------------VERSION DESKTOP --------------*/

@media all and (min-width: 1024px) {
    .menus {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 0;
        padding-bottom: 1rem;
        justify-content: space-evenly;
        h2 {
            width: 100%;
            padding-top: 1rem;
            margin-top: 0;
        }
        article {
            width: 44%;
            margin: .8rem;
        }
    }   
}
