
/*loader rond défilant */

.loader{
	position: absolute;
	width: 2rem;
	height: 2rem;
	background: #9356DC;
    opacity: 0;
	top:50%;
	left: 50%;
	border-radius: 50%;
    z-index: 999;
    animation: 1s 3 linear forward;
}

.loader:nth-of-type(1) {
    animation-delay: -.2s;
}

.loader:nth-of-type(2) {
    animation-delay: -.4s;
}

.loader:nth-of-type(3) {
    animation-delay: -.6s;
}

.loader:nth-of-type(4) {
    animation-delay: -.8s;
}

.loader:nth-child(5) {
    animation-delay: -1s;
}

/*keyframes for forward animations*/

@keyframes forward {
	0% {
		left: 40%;
		opacity: 0;
		background: #FF79DA;
	}
	10% {
		left: 45%;
		opacity: 0.7;
	}
	90% {
		left: 55%;
		opacity: 1;
	}
	100% {
		left: 62%;
		opacity: 0;
	}
}
